---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';
import type { LeadershipMessageProps } from '~/types';

const {
  id,
  title,
  leader,
  welcomeMessage,
  blockQuote,
  callToAction,
  isReversed,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props as LeadershipMessageProps;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-5xl ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={leader.bio} tagline={leader.vision} classes={classes?.headline} />
  <section
    id={id}
    class={`flex flex-col lg:flex-row items-center lg:space-x-4 my-8 ${isReversed ? 'lg:flex-row-reverse' : ''}`}
  >
    <div class="w-full lg:w-1/2">
      <div class="flex-1 flex justify-center items-center">
        <img
          src={leader.profilePicture.src}
          alt={leader.profilePicture.alt}
          class="rounded object-contain w-50 h-auto object-cover max-h-96"
        />
      </div>
    </div>
    <div class="w-full lg:w-1/2 space-y-4">
      <div class="text-muted space-y-2">
        <p>{welcomeMessage}</p>
      </div>
      <blockquote class={`p-4 italic border-l-4 quote mb-2.5 ${isDark ? 'dark-mode' : 'light-mode'}`}>
        "{blockQuote.quote}"
        <footer class="blockquote-footer text-right">
          — {blockQuote.author}, <cite>{blockQuote.position}</cite>
        </footer>
      </blockquote>
      {
        callToAction && (
          <div class="grid place-items-center">
            <a
              href={callToAction.url}
              class="bg-primary text-white py-2 px-4 rounded-full hover:bg-primary-dark transition-colors"
            >
              {callToAction.text}
            </a>
          </div>
        )
      }
    </div>
  </section>
</WidgetWrapper>
